<div class="about-container">
    <!-- About Me Section -->
    <div class="about-me-section">
      <h2>About Me</h2>
      <p>
        Hi, I'm <strong>Geetansh Sharma</strong>. I am passionate about building
        scalable and efficient applications that make a difference. With
        expertise in <strong>Node.js</strong>, <strong>NestJS</strong>, and
        <strong>Python Machine Learning</strong>, I thrive on delivering
        high-quality software solutions.
      </p>
    </div>
  
    <!-- Aeroplane Roadmap Section -->
    <div class="roadmap-section">
      <h2>My Journey</h2>
      <app-roadmap></app-roadmap>
    </div>
  </div>
  