<!-- <ng-container [class.hidden]="!isReady"> -->
<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav for mobile -->
  <mat-sidenav
    #drawer
    class="app-sidenav"
    [mode]="'over'"
    [opened]="isMobile && isSidenavOpen"
    (closedStart)="isSidenavOpen = false"
  >
    <nav class="drawer-links">
      <a routerLink="/" routerLinkActive="active" (click)="drawer.close()"
        >Home</a
      >
      <a routerLink="/about" routerLinkActive="active" (click)="drawer.close()"
        >About</a
      >
      <a
        routerLink="/projects"
        routerLinkActive="active"
        (click)="drawer.close()"
        >Projects</a
      >
      <a
        routerLink="/contact"
        routerLinkActive="active"
        (click)="drawer.close()"
        >Contact</a
      >
    </nav>
  </mat-sidenav>

  <!-- Toolbar + content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Show hamburger only on mobile -->
      <button
        mat-icon-button
        class="sidenav-toggle mobile-links"
        (click)="toggleSidenav(drawer)"
        [@rotateHamburger]="isSidenavOpen ? 'open' : 'closed'"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="title">My Portfolio</span>

      <span class="spacer"></span>

      <!-- Desktop links -->
      <div class="navbar-links desktop-links" *ngIf="!isMobile">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>

      <!-- Theme toggle -->
      <button
        mat-icon-button
        (click)="toggleTheme()"
        class="theme-toggle"
        matTooltip="Toggle Theme"
      >
      <mat-icon>{{ isDarkTheme ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- </ng-container> -->
