.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--app-background);
}

.home-hero {
  width: 60%;
  max-width: 700px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  background-color: var(--card-background);
  color: var(--text-colour);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.typing-container {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--text-colour);
}

.cursor {
  display: inline-block;
  animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
