<div class="project-detail-container">
    <div class="project-overview">
        <h1 #title class="project-title">{{ project.title }}</h1>
        <div class="project-description-container">
            <p #description class="project-description" [innerHTML]="project.description"></p>
        </div>
    </div>

    <div class="tech-skills-container">
        <h1 #title class="tech-title">Technologies Used</h1>
        <div #techCards class="tech-skills">

            <div class="tech-card" *ngFor="let tech of project.techSkills">
                <img [src]="tech.icon" [alt]="tech.name" />
                <span>{{ tech.name }}</span>
            </div>
        </div>
    </div>
</div>