.project-detail-container {
    min-height: 87vh;
    background: var(--app-background);
    text-align: center;

    .project-overview {
        padding: 2rem;
        min-height: 87vh;
        margin: 0 auto;

        .project-description-container {
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .project-title {
        font-size: 3rem;
        color: var(--primary);
        margin-bottom: 1.5rem;
    }

    .project-description {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        line-height: 1.6;
        color: rgb(0, 140, 255);

        strong {
            color: var(--primary);
            font-weight: bold;
        }
    }

    .tech-skills-container {
        padding: 2rem;
        min-height: 87vh;
        margin: 0 auto;
        background-color: var(--primary);
        color: white;

        .tech-title {
            width: 100%;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
    }

    .tech-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;



        .tech-card {
            width: 250px;
            height: 250px;
            background: var(--card-background);
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
            }

            img {
                width: 50%;
                margin-bottom: 0.5rem;
            }

            span {
                font-size: 1rem;
                color: var(--text-colour);
            }
        }
    }
}