<div class="projects-section">
  <h2 class="section-title">My Projects</h2>

  <div class="projects-grid">
    <mat-card
      *ngFor="let project of projects"
      class="project-card"
      (click)="viewProjectDetails(project)"
    >
      <div
        class="card-color-bar"
        [ngStyle]="{ 'background-color': project.color }"
      ></div>
      <div class="card-body">
        <img
          mat-card-image
          [src]="project.icon"
          class="project-image"
          alt="{{ project.title }}"
        />
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-content>
          <p class="description">{{ project.description[0] }}</p>
          <p class="tech">{{ project.tech_skills }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
