<div class="projects-section">
  <h2 class="section-title">My Projects</h2>

  <div class="projects-grid" #projectSlider>
    <mat-card
      *ngFor="let project of projects; let i = index"
      class="project-card"
      [ngClass]="{
        active: i === getActiveIndex(),
        'blurred-left': i < getActiveIndex(),
        'blurred-right': i > getActiveIndex()
      }"
      (click)="viewProjectDetails(project)"
    >
      <div
        class="card-color-bar"
        [ngStyle]="{ 'background-color': project.color }"
      ></div>
      <div class="card-body">
        <img
          mat-card-image
          [src]="project.icon"
          class="project-image"
          alt="{{ project.title }}"
        />
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-content>
          <p class="description">{{ project.short_description }}</p>
          <p class="role">
            {{ project.role }} <span>({{ project.type }})</span>
          </p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="slider-controls">
    <button (click)="scrollLeft()">&larr;</button>
    <button (click)="scrollRight()">&rarr;</button>
  </div>
</div>
