<div class="projects-container">
  <h1>My Projects</h1>

  <div class="project-category-cards">
    <!-- Industry Projects Card -->
    <mat-card class="category-card industry">
      <mat-card-header>
        <mat-card-title>
          <mat-icon style="font-size: 30px">business</mat-icon> Industry Projects
        </mat-card-title>
        <mat-card-subtitle>
          Projects from professional work experience.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="project-cards">
          <mat-card
            class="project-card"
            *ngFor="let project of industryProjects"
            (click)="viewProjectDetails(project)"
          >
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-content>
              {{ project.description[0] }}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Personal Projects Card -->
    <mat-card class="category-card personal">
      <mat-card-header>
        <mat-card-title>
          <mat-icon style="font-size: 30px">home</mat-icon> Personal Projects
        </mat-card-title>
        <mat-card-subtitle>
          Projects from personal exploration and practice.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="project-cards">
          <mat-card
            class="project-card"
            *ngFor="let project of personalProjects"
            (click)="viewProjectDetails(project)"
          >
            <mat-card-title>{{ project.title }}</mat-card-title>
            <mat-card-content>
              {{ project.description[0] }}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
