.resume-container {
  padding: 1.5rem;
  background: var(--app-background);
  max-width: 1000px;
  margin: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h2 {
      color: var(--primary);
      font-size: 2rem;

      margin: 0 auto;
      padding-left: 6rem;
      text-align: center;
      flex: 1;
    }

    a {
      color: white;
      background: var(--primary);
      padding: 0.5rem 1rem;
      text-decoration: none;
    }
  }

  .pdf-viewer {
    display: flex;
    width: 70%;
    height: 231.5vh;
    border: none;
    margin: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .resume-container {
    .header {
      h2 {
        padding-left: 3rem;
      }
    }
    .pdf-viewer {
      width: 100%;
      height: 83vh;
    }
  }
}
