// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
$dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 500, 300, 700);
$dark-accent: mat.m2-define-palette(
  mat.$m2-blue-grey-palette,
  A200,
  A100,
  A400
);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      // warn: $dark-warn,
      // background: (
      //   app-background: black,
      //   card-background: black,
      // ),,,,,,,,,
    ),
    density: 0,
  )
);
// Light Theme: White and Grey
$light-primary: mat.m2-define-palette(mat.$m2-cyan-palette, 700, 500, 900);
$light-accent: mat.m2-define-palette(mat.$m2-cyan-palette, A200, A100, A400);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette);
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      // warn: $light-warn,
      // background: (
      //   app-background: white,
      //   card-background: #f5f5f5,
      // ),,,,,,,,,
    ),
    // density: 0,
  )
);

// Default theme to start
.dark-theme {
  @include mat.all-component-themes($dark-theme);
  --app-background: linear-gradient(to bottom right, #212121, #424242);
  --text-colour: white;
  --card-background: #1e1e1e;
  --primary: #607d8b;
}
.light-theme {
  @include mat.all-component-themes($light-theme);
  --app-background: linear-gradient(to bottom right, #ffffff, #dddddd);
  --text-colour: black;
  --card-background: #f5f5f5;
  --primary: #0097a7;
}
// :root.dark-theme {
//   --app-background: black;
//   --text-color: white;
//   --card-background: #1e1e1e;
//   --primary-text: $dark-primary;
// }

// /* Light Theme */
// :root.light-theme {
//   --app-background: white;
//   --text-color: black;
//   --card-background: #f5f5f5;
//   --primary-text: $light-primary;
// }
// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: dark,
//         primary: mat.$cyan-palette,
//         tertiary: mat.$red-palette,
//       ),
//       typography: "Helvetica Neue",
//       density: 0,
//     )
//   );
// }

// html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
